
body{
    font-family: 'Poppins', sans-serif;
}
/* header style  */
.w-50{
    width: 50%;
}
.header{
    display: flex;
    background-color: #2D25A0;
    padding:10px 10px;
}
.logo img{
    width: 100%;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 50px;
    margin-bottom: 20px;
}
.title h1{
    font-size: 50px;
    color: #fff;
}
.title a{
    border: 1px solid #E02C6D;
    text-decoration: none;
    background-color: #E02C6D;
    color: #fff;
    padding: 2px 2px;
}
.logo img:hover{
    background-color:lightblue;
    transition: 2s ease-in-out;
}
 /* intro style  */
 main{

     padding: 20px 20px;
 }
 .intro-section{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 15px;
 }
 .player{
     border-radius: 5px;
     box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.15);
     width: 310px;
     background-color: #fff;
     padding: 10px 10px;
 }
 .photo img{
width: 100%;
 }

 /* highlights */
 .highlights{
     display: flex;
 }
 .highlights-info{
     margin-left: 20px;
     margin-top: 25px;
 }
 .highlights-info a{
    border: 1px solid #E02C6D;
    text-decoration: none;
    background-color: #E02C6D;
    color: #fff;
    padding: 2px 2px;
 }
 .highlights-video{
     margin-top: 20px;
 }
 /* point-tables  */
 .point-section h1{
     margin-top: 50px;
     text-align: center;
 }
 .point-table{
     width: 35%;
     margin: auto;
 }
 .pt-border{
     border: 2px solid maroon;
     padding: 5px 5px;
     text-align: center;
 }
 /* footer section */
 .footer{
     margin-top: 50px;
     display: flex;
     justify-content: center;
     text-align: center;
 }
 #insta{
    color: rgb(212, 47, 83);
    padding: 2px;
 }
 #bball{
    color: rgb(39, 11, 90);
    padding: 2px;
 }
 #twit{
    color: rgb(82, 143, 212);
    padding: 2px;
 }
 #yt{
    color: rgb(236, 6, 6);
    padding: 2px;
 }

 /* media queries */

 /* tablet devices  */

 @media only screen and (min-width:688px) and (max-width:992px) 
 {
     .header{
         width: 98%;
         display: flex;
     }
     .title{
         width: 45%;
     }
     .logo{
         width: 53%;
     }
     .intro-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        width: 95%;
    }
    .highlights{
        flex-direction: column;
    }
    .highlights-info{
        width: 100%;
        margin-bottom: 5%;
    }
    .point-section{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .point-table{
        width: 95%;
    }
    .footer-logos{
        width: 100%;
    }
    .footer-logos img{
        width: 100%;
    }
 }

 /* mobile device  */

 @media only screen and (max-width: 688px)
 {
     .header{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 95%;
     }
     .title{
         margin-left:0;
     }
     .title h1{
         font-size: 40px;
     }
     main{
         padding: 2% 2%;
     }
     .intro-section{
         grid-template-columns: repeat(1, 1fr);
     }
     .player{
         width: 95%;
     }
     .highlights{
         flex-direction: column;
     }
     .highlights-info{
         width: 100%;
         margin-bottom: 5%;
     }
     .highlights-video iframe{
         width:100%;
         margin: auto;
     }
     .point-section{
         display: flex;
         flex-direction: column;
         align-items: start;
     }
     .point-table{
         width: 95%;
     }
     .footer-logos{
         width: 100%;
     }
     .footer-logos img{
         width: 100%;
     }
 }